__pycache__/
.env

# Database files - don't overwrite on deployment
*.db
app.db
celerymq.db
celery_results.db

# Azure credentials
AZURE_CREDENTIALS.json
azure-env-settings.json
LongLiveAccesTokenGenerator.py
instatester.py
INstweb.py
banana.py
cookies.txt
nano.py
xpost.py
xfetch.py
imgdwn.py
ytD.py
logoadder.py