celery
kombu[sqlalchemy]
fastapi
uvicorn
openai
faiss-cpu
pypdf
python-multipart
requests
jinja2
PyPDF2
uvicorn[standard]
websockets
wsproto
fuzzywuzzy
aiohttp
aiosqlite
redis 
loguru 
slowapi 
aioredis 
tenacity 
sqlalchemy[asyncio]>=2.0.0
watchdog
portalocker
pypdf
psutil
numpy 
scipy
lightrag-hku
docx
greenlet
aiosmtplib
honcho==1.1.0
cryptography
yt_dlp
google-generativeai
google-genai
instaloader
facebook-scraper
twscrape
beautifulsoup4
pillow
twitter-scraper