
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .fade-in {
      animation: fadeIn 0.5s ease-in-out forwards;
  }
  @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
  }

  .shiny-button{
    position: relative;
    overflow: hidden;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}


.shiny-button::before {
  content: "";
  position: absolute;
  inset: -100%;                
  background: linear-gradient(
  135deg,
  transparent,
  transparent 40%,
  rgba(219, 219, 219, 0.25),
  rgba(255, 255, 255, 0.4),
  rgba(255, 255, 255, 0.25),
  transparent 60%,
  transparent
  );
  background-size: 300% 300%;
  animation: gentleShine 2s linear infinite;
  pointer-events: none;      
}

@keyframes gentleShine {
  0% {
  background-position: 0% 0%;
  }
  100% {
  background-position: 100% 100%;
  }
}

.shiny-button:hover::before {
  animation-duration: 8s;   
}